<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Restaurants</display-name>

    <servlet>
        <servlet-name>restaurantServlet</servlet-name>
        <servlet-class>ru.seleand.restaurants.web.RestaurantServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>restaurantServlet</servlet-name>
        <url-pattern>/restaurants</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>dishServlet</servlet-name>
        <servlet-class>ru.seleand.restaurants.web.DishServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dishServlet</servlet-name>
        <url-pattern>/dishes</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>ru.seleand.restaurants.web.usertServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>
            ru.seleand.restaurants.RestaurantsServletContextListener
        </listener-class>
    </listener>

</web-app>
